/* COLOR */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  background: linear-gradient(#af67e9, #6565e7) no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a4b5e;
}

main {
  width: 86%;
  margin: auto;
  background-color: white;
  border-radius: 25px;
  margin-top: 100px;
  padding-top: 135px;
  padding-bottom: 50px;
}
main #mobileFigure {
  position: relative;
  top: -108px;
  width: 266px;
  margin: auto;
}
main #mobileFigure img:first-child {
  position: absolute;
  width: 90%;
  top: -30px;
  right: 15px;
}
main #mobileFigure img:last-child {
  position: absolute;
  width: 100%;
  top: -135px;
  right: 14px;
}
main #desktopFigure {
  display: none;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b2b36;
  margin-bottom: 17px;
}
main section div {
  width: 85%;
  border-bottom: 1px solid #e7e7e9;
  padding-bottom: 20px;
}
main section div:hover p:first-child {
  color: #eb9073;
  cursor: pointer;
}
main section div p {
  margin-top: 20px;
}
main section div p:first-child {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
main section div p:first-child span {
  transition-duration: 0.2s;
  font-size: 0.8em;
  color: #eb9073;
}
main section div p:first-child.titleActive {
  color: #2b2b36;
  font-weight: bold;
  font-size: 1.2em;
}
main section div p:first-child.titleActive span {
  transform: rotate(180deg);
}
main section div p:last-child {
  margin-top: 8px;
  color: #787887;
  display: none;
  line-height: 18px;
}
main section div p:last-child.paraActive {
  display: block;
}

footer {
  margin-top: 35px;
  margin-bottom: 400px;
}
footer div {
  width: 80%;
  margin: auto;
  text-align: center;
}
footer div a {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 325px) {
  main {
    padding-top: 30px;
    width: 96%;
  }
  main #mobileFigure {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  main {
    padding: 70px;
    display: flex;
    justify-content: flex-end;
    background: url("../images/illustration-woman-online-desktop.svg") left -80px top 80px no-repeat, url("../images/bg-pattern-desktop.svg") left -570px top -285px no-repeat white;
    position: relative;
  }
  main #mobileFigure {
    display: none;
  }
  main #desktopFigure {
    display: block;
    position: absolute;
    left: -93px;
    top: 217px;
  }
  main section {
    width: 50%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1500px) {
  main {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
