/* COLOR */ 

$firstGradientColor: rgb(175, 103, 233);
$secondGradientColor: rgb(101, 101, 231);

$mainColor: rgb(255, 255, 255);


$mainFontColor: rgb(74, 75, 94);
$secondFontColor: rgb(120, 120, 135);

$dividersColor: rgb(231, 231, 233);

$chevronColor: rgb(235, 144, 115);



